body{
	font-family: Arial, sans-serif;
}


nav{
	width: 100%;
	height: 60px;
	background: #344051;

}

.logo{
	color: #fff;
	font-size: 25px;
	line-height: 60px;
	padding-left: 288px;
	float: left;

}

.menu{
	float: left;
	padding-left: 420px;
}

.menu li{
	float: left;
	line-height: 30px;
	color: #fff;
	margin-right: 40px;
	font-size: 20px;
	text-transform: uppercase;
	transition: 0.5s;
}

.menu li:hover{
	color: red;
}

.main{

	height: calc(100% - 60px);
	width: 100%;
	background: url(../img/pngegg.png) no-repeat 90% 10%;
}

.title_container{
	padding: 200px 0px 0px 0px;
	color: #000;
	text-align: center;
}

.title_container h1{
	font-size: 60px;
	font-weight: bold;

}
.title_container h4{
	margin-top: 40px;
	font-size: 25px;
}


.title_container input{
	height: 40px;
	text-align: center;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 10px;
	font-size:15px;
	margin: 58px 14px 0px 14px

}


.resume{
	position: relative;

}